<div class="landing">
    <h1>About Bunker</h1>
    <section>
        <h2>What is it?</h2>
        <p>Bunker is a contact storage application. It is built to hold things like addresses, birthdays, phone numbers, and emails.</p>
    </section>
    <section>
        <h2>How much does it cost?</h2>
        <p>Bunker is currently completely free. It is also open-source! You can find the entire source code for this project on gitHub. ;)</p>
    </section>
    <section>
        <h2>Why was Bunker created?</h2>
        <p>Bunker was made for a personal project at Union College during a web technologies course. Its main purpose was to teach the concepts
            and applications of node.js along with many of its accompanying plugins.
        </p>
    </section>
    <section>
        <h2>Who made Bunker?</h2>
        <p>Bunker was written nearly completely by Nathan Bland, a senior computer science major at Union College. With some key assists from the 
            instructor of the class - Ben Barber - and some aid from fellow classmates.
        </p>
        <p>One major shoutout to the <a href="http://theoatmeal.com/">oatmeal comic</a> for the <a href="/asdf/">error</a> page images. He makes other awesome stuff, 
            you should go read some of his comics when you have a chance.
        </p>
    </section>
    <section>
        <h2>//TODO Terms &amp; Condictions</h2>
        <p>Bunker is free to use, but is also still under development. While it is currently in a mostly stable state, that does not mean things will not break.
            When things do break, you can't blame the creator for loss of data, or time. The software is provided as is, use it wisely. =)
        </p>
    </section>
</div>