{{#notification}}
<!-- Something happened: -->
<p class="message {{severity}}">{{message}}</p>
{{/notification}}


<form class="pure-form pure-form-aligned" action=""  method="POST">
    
    <fieldset class="contact-form add" style="margin-left: auto;margin-right: auto;">
        <h1>Add A Contact</h1>
        <input type="hidden" name="id" value="{{contact.id}}">
        <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" name="name" type="text" placeholder="First &amp; Last" required>
        </div>

        <div class="pure-control-group">
            <label for="birthday">Birthday</label>
            <input id="birthday" name="birthday" type="date" placeholder="MM/DD/YYYY">
        </div>

        <div class="pure-control-group">
            <label for="phoneNum">Phone</label>
            <input id="phoneNum" name="phoneNum" type="text" placeholder="Phone Number">
            <button type="button" class="pure-button">Add Another</button>    
        </div>
        
        <div class="pure-control-group">
            <label for="address">Address</label>
            <input id="address" name="address" type="text" placeholder="Address">
            <button type="button" class="pure-button">Add Another</button>    
        </div>
        
        <div class="pure-controls2">
            <button type="submit" class="pure-button">Submit</button>
        </div>
    </fieldset>
</form>