{{#notification}}
<p class="message {{severity}}">{{message}}</p>
{{/notification}}

<main class="contacts-container pure-g">
    {{#contacts}}
    <section class="contact pure-u-1 pure-u-sm-1-2 pure-u-md-1-5 pure-u-lg-1-10" tabindex="0">
        
        <h1>{{firstName}} {{lastName}}</h1>
        {{#if avatar}}
            <img class="pure-img" src="{{avatar}}">
        {{/if}}
        <div class="contact-details">
        <!--<h3>{{firstName}} {{lastName}}</h3>-->
        {{#if birthday}}
            <h4 class="birthday"> {{birthday}}</h4>
        {{/if}}
        {{#each phoneNumber}}
            <h4 class="phone">{{#if type}} {{type}} -{{/if}} {{number}}</h4>
        {{/each}}
        <dl>
        {{#each address}}
            <dt>{{desc}}</dt>
                <dd>{{street}}</dd>
                <dd>{{#if city}}{{city}},{{/if}} {{state}}</dd>
                <dd>{{zip}}</dd>
        {{/each}}
        </dl>
        <a href="/contact/{{id}}"><button class="pure-button pure-button-primary">Full View</button></a>
        </div>
    </section>
    {{/contacts}}
</main>
<script src="/scripts/dates.js"></script>