<form class="pure-form">
    
    <fieldset>
        <div class="pure-control-group">
            <label for="name">Name</label>
            <input id="name" type="text" placeholder="Name">
        </div>

        <div class="pure-control-group">
            <label for="birthday">Birthday</label>
            <input id="birthday" type="date" placeholder="Birthday">
        </div>

        <div class="pure-control-group">
            <label for="phoneNum">Phone</label>
            <input id="phoneNum" type="number" placeholder="Phone Number">
            <button type="button" class="pure-button">Add Another</button>
        </div>

        <div class="pure-control-group">
            <label for="address"></label>
            <input id="address" type="text" placeholder="Address">
            <button type="button" class="pure-button">Add Another</button>
        </div>

        <div class="pure-controls">
            <button type="submit" class="pure-button">Submit</button>
        </div>
    </fieldset>
</form>