{{#notification}}
<p class="message {{severity}}">{{message}}</p>
{{/notification}}

<ul class="contacts-container pure-g">
    {{#contacts}}
    <li class="contact pure-u-1-5" tabindex="0">
        
        <h1>{{firstName}} {{lastName}}</h1>
        {{#if avatar}}
            <img class="pure-img" src="{{avatar}}">
        {{/if}}
        <div class="contact-details">
        {{#if birthday}}
            <h4 class="birthday"> {{birthday}}</h4>
        {{/if}}
        {{#each phoneNumbers}}
            <h4 class="phone">{{type}} - {{phoneNumber}}</h4>
        {{/each}}
        <dl>
        {{#each address}}
            <dt>{{desc}}</dt>
                <dd>{{street}}</dd>
                <dd>{{city}}, {{state}}</dd>
                <dd>{{zip}}</dd>
        {{/each}}
        </dl>
        </div>
    </li>
    {{/contacts}}
</ul>