<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/pure-min.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="/scripts/util.js"></script>
    <!--[if lte IE 8]>
      <link rel="stylesheet" href="/styles/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="/styles/grids-responsive-min.css">
    <!--<![endif]-->
    
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
<nav class="pure-menu pure-menu-open pure-menu-horizontal menu">
    <a href="/" class="pure-menu-heading">Bunker</a>
    <ul>
        {{#if user}}
        <li><a href="/contacts/"><i class="fa fa-book"></i>  View All</a></li>
        <li><a href="/contact/add"><i class="fa fa-plus"></i>  Add Contact</a></li>
        <li><a href="/about"><i class="fa fa-info-circle"></i>  About</a></li>
        <li><a href="/search"><i class="fa fa-search"></i>  search</a></li>
        <li><a href="/logout"><i class="fa fa-sign-out"></i>  Sign out</a></li>
        {{else}}
        <li><a href="/login"><i class="fa fa-sign-in"></i>  Login</a></li>
        <li><a href="/signup"><i class="fa fa-pencil"></i>  Sign Up</a></li>
        <li><a href="/about"><i class="fa fa-info-circle"></i>  About</a></li>
        {{/if}}
    </ul>
</nav>

{{{ body }}}

<script type="text/javascript" src="/scripts/run.js"></script>
</body>
</html>