{{> notifications}}

<div class="landing">
    <h1>Search for Contacts</h1>
    <form class="pure-form pure-form-aligned" action="/results"  method="GET">
        <fieldset class="" style="margin-left: auto;margin-right: auto;">
            <div class="pure-control-group">
                <label for="name">Name:</label>
                <input class="name" name="name" type="text" placeholder="Contact Name" required>
            </div>
            <div class="pure-controls2">
                <button type="submit" class="pure-button pure-button-primary">Search</button>
            </div>
        </fieldset>
    </form>
</div>