{{> notifications}}
<div class="landing">
    <h1>Sign Up for Bunker</h1>
    <form class="pure-form pure-form-aligned" action="/signup"  method="POST">
        <fieldset class="" style="margin-left: auto;margin-right: auto;">
            <div class="pure-control-group">
                <label for="username">E-mail</label>
                <input class="username" name="username" type="text" placeholder="E-mail Address" required>
            </div>
             <div class="pure-control-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Password">
            </div>
            <div class="pure-control-group">
                <label for="password2">Repeat Password</label>
                <input id="password2" name="password2" type="password" placeholder="Password (again)">
            </div>
            <div class="pure-controls2">
                <button type="submit" class="pure-button pure-button-primary">Sign Up!</button>
            </div>
        </fieldset>
    </form>
    <a href="/login/twitter"><button class="pure-button button-primary"><i class="fa fa-twitter"></i></button></a>
</div>