body {
    background-color: rgba(245, 245, 245, 1);
}
.contacts-container {
    width: 98%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*.pure-u-md-1-5 {
    width: 19%;
}*/
.contact {
    display: inline-block;
    
    list-style: none;
    /*box-shadow: 0px 0px 3px black;
    background-color: white;
    margin-right: .5em;/**/
    margin-bottom: 1em;
    padding-bottom: 1em;
    position: relative;
}

.contact:hover {
    cursor:pointer;
    box-shadow: 0px 1px 3px black;
}
.contact:hover > .contact-details {
    display: inline-block;
    visibility:visible;
    position: absolute;
    top: 0;
    width: 100%;/**/
    height: 100%;
    /*text-align: center;/**/
    color: white;
    background-color: rgba(17, 17, 17, 0.75);
    transition:visibility 1s, background-color 0.5s;
    /*overflow-x:hidden;
    overflow-y: hidden;/**/
}
.contact h1 {
    text-align: center;
}
.contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
.show-details{
    display: block;
    margin-bottom:1em;
    margin-top:1em;
    margin-left: auto;
    margin-right: auto;
}
.contact-details {
    visibility:hidden;
    height: 0;
    background-color: rgba(0, 0, 0, 0.25);
    
}
.visible {
    display: block;
}
.full-details {
    padding-left: 1em;
}
.contact-form {
        background-color: white;
        list-style: none;
        box-shadow: 0px 0px 3px black;
        margin-right: .5em;
        margin-bottom: 1em;
}
.contact-form h1 {
    text-align: center;
}
.add {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}
.full {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
@media (max-width: 700px) { 
    .add {
        width: 100%;
    }
    .add > * {
        padding-left: 1em;
    }
    .add h1 {
        padding-left: 0em;
    }
    .add .pure-button-primary {
        margin-left: -0.5em !important;
    }
    .zip {
        margin-top: 0.5em;
    }
    
}
@media (min-width: 480px) {
    
    .phoneType {
        margin-top: .5em;
        margin-left: 11.25em;
    }
    .emailType {
        margin-top: .5em;
        margin-left: 11.25em;
    }
    .state {
        margin-left: 11.25em;
    }
    .zip {
        margin-top: .5em;
        margin-left: 11.25em;
    }
    .add-address{
        margin-top: 0.5em;
        margin-left: 11.25em;
    }
    .add-phone {
        margin-top: 0.5em;
        margin-left: 11.25em;
    }
    .add-email {
        margin-top: 0.5em;
        margin-left: 11.25em;
    }
}
@media (min-width: 700px) {
    .phoneType {
        margin-top: 0em;
        margin-left: 0em;
    }
    .emailType {
        margin-top: 0em;
        margin-left: 0em;
    }
    .state {
        margin-left: 11.25em;
    }
    .zip {
        margin-left: 11.25em;
    }
}
@media (min-width: 980px) { 
    .add {
        width: 64em;
    }
    .city {
        width: 15%;
    }
    .state {
        margin-left: 11.25em;
        width: 15%;
    }
    .zip {
        margin-left: 11.25em;
        width: 15%;
    }
}
.pure-controls2 {
    margin: 1.5em 1em 0px 1em;
}
.pure-controls2 button {
    width: 100%;
}
.menu {
    box-shadow: 0px 0px 3px black;
    margin-bottom: 1em;
}
.pure-menu li a:hover{
    background-color: #009CFF;
    color: white;
}
.pure-menu li a:active{
    background-color: #009CFF;
    color: white;
}
.pure-form{
    margin-top: 1em;
}
.landing {
    display: block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top:1em;
    position: relative;
    text-align: center;
    padding: 0.5em 1em 1em 1em;
}
.contact-full {
    margin: 1em;
    background-color: white;
    list-style: none;
    box-shadow: 0px 0px 3px black;
    padding: 1em;
}
.contact-full img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
.contact-full h1 {
    text-align: center;
}

.button-success {
    background: rgb(28, 184, 65); /* this is a green */
    color: white;
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.edit {
    float: left;
    margin-right: 1em;
}
.city {
}
.state {
    display: block !important;
    margin-top: 0.5em;
}
.zip {
    display: block !important;
    margin-top: 0.5em;
}
.small {
    width: 15%;
}
.detail-container {
    padding-top: 2.5em;
    margin-left: 4em;
}
.landing .message {
    font-size: 200%;
}