body {
    background-color: rgba(245, 245, 245, 1);
}
.pure-u-1-5 {
    width: 19%;
}
.contact {
        background-color: white;
        list-style: none;
        box-shadow: 0px 0px 3px black;
        margin-right: .5em;
        margin-bottom: 1em;
}
.contact-form {
        background-color: white;
        list-style: none;
        box-shadow: 0px 0px 3px black;
        margin-right: .5em;
        margin-bottom: 1em;
}
.contact:hover {
    cursor:pointer;
    box-shadow: 0px 1px 3px black;
}
.contact:hover > .show-details {
    display: block;
}
.contact h1 {
    text-align: center;
}
.contact-form h1 {
    text-align: center;
}
.contact img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
}
.show-details{
    display: block;
    margin-bottom:1em;
    margin-top:1em;
    margin-left: auto;
    margin-right: auto;
}
.contact-details {
    display: none;
    margin-left: 1em;
}
.pure-button {
    background-color: #009CFF;
    color: white;
}
.visible {
    display: block;
}
.full-details {
    padding-left: 1em;
}
.add {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    
}
.pure-control-group{
    width: 100%;
    margin-left: 7em;
}
.pure-controls2 {
    margin: 1.5em 1em 0px 1em;
}
.pure-controls2 button {
    width: 100%;
}
.pure-menu li a:hover{
    background-color: #009CFF;
    color: white;
}
.pure-menu li a:active{
    background-color: #009CFF;
    color: white;
}
.pure-form{
    margin-top: 1em;
}